<%= form_with(model: place) do |form| %>
  <% if place.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control border-primary-subtle'  %>
  </div>

  <div class="mb-3">
    <%= form.label :latitude, style: "display: block", class: 'form-label' %>
    <%= form.number_field :latitude, step: "0.0001", minimum: -90, maximum: 90, class: 'form-control border-primary-subtle' %>
  </div>

  <div class="mb-3">
    <%= form.label :longitude, style: "display: block", class: 'form-label' %>
    <%= form.number_field :longitude, step: "0.0001", minimum: -180, maximum: 180, class: 'form-control border-primary-subtle'  %>
  </div>

  <div>
    <%= form.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
