<% content_for :title, "Places" %>

<div class="d-flex justify-content-between mb-3">
  <h1>Places</h1>
  <div>
    <%= link_to "New place", new_place_path, class: 'btn btn-primary' %>
  </div>
</div>

<div id="places">
  <% @places.each do |place| %>
  <div class="shadow rounded <%= cycle('bg-light border-primary', 'bg-primary-subtle border-dark') %>">
    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex p-2">
          <%= image_tag place.thumbnail, class: 'img-fluid rounded me-1', style: 'height: 100px; width: 100px;' if place.thumbnail.attached? %>
          <%= render place %>
        </div>
        <%= link_to "Show this place", place, class: 'text-top p-2' %>
      </div>
    </div>
  <% end %>
</div>


<div data-controller="map">
  <div id="map" class="rounded mb-4" style="height: 400px; width: 100%;"></div>

  <% @places.each do |place| %>
    <div data-map-name="<%= place.name %>"
         data-map-latitude="<%= place.latitude %>"
         data-map-longitude="<%= place.longitude %>"></div>
  <% end %>
</div>
