<h1>Place</h1>

<div>
  <div class="mt-4">
    <%= render @place %>
  </div>
  <div class="d-flex gap-2 my-3">
    <%= link_to "Edit this place", edit_place_path(@place), class: 'btn btn-secondary' %>
    <%= button_to "Destroy this place", @place, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>

<%= link_to "Back to places", places_path %>

<hr>

<div data-controller="map">
  <div id="map" class="rounded" style="height: 500px; width: 100%;"></div>
  <div data-map-name="<%= @place.name %>"
     data-map-latitude="<%= @place.latitude %>"
     data-map-longitude="<%= @place.longitude %>"></div>
</div>
